* {
    font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
    color: #323232;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
header, 
main,
footer,
div,
article,
section {
    display: flex;
    flex-direction: column;
}

a:link {
    color: #7FD1B9;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    gap: 2em;
    padding: 1em;
}

.article-list {
    gap: 1em;
}

.article-list__item  {
    list-style: none;
    
}

.article-list__item-anchor {
    display: flex;
    text-decoration: none;
    border: 0.3em solid #7FD1B9;
    border-radius: 1em;
    padding: 1em;
}

.article-list__item-anchor:hover {
    background-color: #E1F4EF;
}
