pre.shiki {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.5em;
}

pre.shiki code {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 0.875rem;
	line-height: 1.5;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
}
